@page "/banksList"

@using BlazorApp1.Models
@using System.Data
@inject NavigationManager NavigationManager

<h3>Кредитные организации</h3>

<input @bind="searchText" @bind:event="oninput" placeholder="Введите наименование..." class="form-control" />

@if (dataSet == null)
{
    <p>Загрузка...</p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn column in dataSet.Tables[0].Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int maxRows = Math.Min(10, allRows.Rows.Count);
                for (int i = 0; i < maxRows; i++)
                {
                    var row = allRows.Rows[i];
                    <tr>
                        @foreach (DataColumn column in allRows.Columns)
                        {
                            <td>@row[column]</td>
                        }
                    </tr>
                }
                }


            
        </tbody>
    </table>
}

<!-- Контекстное меню -->
<!--
@if (showMenu)
{
    <div class="context-menu" style="top:@menuY; left:@menuX;">
        <ul class="dropdown-menu show">
            <li><a class="dropdown-item" @onclick="EditMethod">Редактировать</a></li>
            <li><a class="dropdown-item text-danger" @onclick="DeleteMethod">Удалить</a></li>
        </ul>
    </div>
}

<style>
    .context-menu {
        position: absolute;
        z-index: 1000;
    }
</style>

-->

@code {
    [Inject] private IDbContextFactory<BanksContext> dbFactory { get; set; }
    [Inject] private CreditOrgInfoClient CreditService { get; set; }


    private DataSet? dataSet;
    private DataTable? allRows;
    private IEnumerable<DataRow>? filteredRows;
    private string searchText = string.Empty;


    private async Task LoadMethods()
    {
        await using var db = dbFactory.CreateDbContext();
        dataSet = await CreditService.GetCreditOrgInfoAsync();
        allRows = dataSet.Tables[0];
        foreach (DataColumn column in allRows.Columns)
        {
            Console.WriteLine(column.ColumnName); // или Log, или добавь в список
        }
        //ApplyFilter();
    }
    private void ApplyFilter()
    {
        if (allRows == null) return;

        filteredRows = allRows.AsEnumerable()
            .Where(r => r["NameP"].ToString()!.Contains(searchText, StringComparison.OrdinalIgnoreCase));
    }

    private string SearchText
    {
        get => searchText;
        set
        {
            searchText = value;
            ApplyFilter();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Загружаем данные из базы данных
        await LoadMethods();
    }

}
